<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>godoc</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/godoc</string>
      <string>-http=:7000</string>
      <string>-index_interval=1s</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>GOPATH</key>
      <string>%gopath%</string>
    </dict>
  </dict>
</plist>
